server:
  port: 8081

spring:
  application:
    name: authservice
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_service_db
    username: postgres
    password: Auth6002
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
